<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net451" />
  <package id="EntityFramework.Testing" version="1.0.0-alpha2" targetFramework="net451" />
  <package id="EntityFramework.Testing.Moq" version="1.0.0-apha2" targetFramework="net451" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net451" />
</packages>